<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="">
    <meta name="application-name" content="ieslearning.com">
    <meta name="description" content="Institute of Executive Studies- Global Training Provider">
    <meta name="keywords" content="institute of executive studies, executive studies, ies, ies ghana, executive training, Training in Ghana, executive studies, business professionals, human resource training. human resource management in Ghana, Ghana, webinar, institutes in ghana, professional certification, professional training, best training provider, seminar, HR Data Analytics and Reporting , Labour experts, hands on training, best training partner, Graduate training, workers in Ghana, best executive training ghana, workers training, companies in ghana, international training, top company in ghana, Negotiation Techniques for HR Professionals, onsite training, best webinar ghana, IES Learning, IES, online learning, executive learning,">
    <meta name="author" content="codyCobs">
    <title>Welcome | Institute of Executive Studies | IES</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/iescss.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jQuery-v2.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='img/favicon') }}" rel="shortcut icon">
</head>
<body>
    <div class="container">
<nav class="navbar">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ url_for('index') }}" class="navbar-brand"><img src="{{ url_for('static', filename='img/stories/logo.png') }}"
         alt="IES Logo" class="img-responsive"></a>
    </div>
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            <li><a href=" {{ url_for('training') }}">Training</a></li>
            <li><a href="{{ url_for('onsite') }}">Onsite</a></li>
            <li class="dropdown">
                <a href="international.html" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                International Programmes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="registerNow.html">Register Now</a></li>
                    <li><a href="internationalProgrammes.html">Internatinal Programmes</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact') }}">Contacts</a></li>
        </ul>
    </div>
</div>
</nav>
<!-- End of navigation -->

<!--Start of carousel -->
<div class="carousel slide" id="substitute-nivo" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#substitute-nivo" data-slide-to="0"></li>
        <li data-target="#substitute-nivo" data-slide-to="1"></li>
        <li data-target="#substitute-nivo" data-slide-to="2"></li>
        <li data-target="#substitute-nivo" data-slide-to="3"></li>
        <li data-target="#substitute-nivo" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active"><img src="{{ url_for('static', filename='img/stories/slider/slide0002.jpg') }}" alt="advanced-mgt-programme" class="img-responsive"></div>
        <div class="item"><img src="{{ url_for('static', filename='img/stories/slider/slide000_3.jpg') }}" alt="human-resource data intelligence" class="img-responsive"></div>
        <div class="item"><img src="{{ url_for('static', filename='img/stories/slider/slide000_4.jpg') }}" alt="Legal-HR-Mgt" class="img-responsive"></div>
        <div class="item"><img src="{{ url_for('static', filename='img/stories/slider/slide000_5.jpg') }}" alt="ADR-for-Managers" class="img-responsive"></div>
        <div class="item"><img src="{{ url_for('static', filename='img/stories/slider/slide000_7.jpg') }}" alt="Labour-Acts" class="img-responsive"></div>
    </div>
</div>
<!-- End of Carousel -->

<div class="row home-content">
    <div class="col-sm-12 text-center">
        <h3 class="themed">Global Training Provider</h3>
        <p>Institute of Executive Studies offers programmes designed to equip today's workforce with the skills and hands-on experience they need to increase their productivity at the workplace.</p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4 class="col-headers">Webinars</h4>
        <p>Practical online sessions at your convenience.</p>
        <p><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="training.html" class="themed">Browse our topics</a> <br></p>
        <p><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="training.html" class="themed">Browse our topics</a> <br></p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4 class="col-headers">Short Courses</h4>
        <p>Boost organizational development and productivity with our short courses.</p>
        <p><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="training.html" class="themed">Start here now</a> <br></p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4 class="col-headers">In-house</h4>
        <p>Effective training sessions made just for you and at your own venue.</p>
        <p><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="onsite.html" class="themed">Find out more here</a> <br></p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4 class="col-headers">International Programmes</h4>
        <p>Results-oriented executive training at international venues.</p>
        <p><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="international.html" class="themed">See all training topics</a> <br></p>
    </div>
</div>

<div class="triad row">
    <div class="col-sm-6 col-md-4">
       <h4 class="col-headers-default">Upcoming Programmes</h4>
        <div class="row">
            {% if programme %}
              {% for programme in programme %}
                <article class="col-xs-6 col-sm-12">
                    <h5><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                    &nbsp;&nbsp;&nbsp;<a href="legalAspectsOfTheHumanResourceManagement.html" class="themed">{{ programme.title }}</a></h5>
                    <div class="pad">
                        <p><strong>Date:</strong>&nbsp;{{ programme.date.strftime("%d-%B-%Y") }}</p>
                        <p><strong>Venue:</strong>&nbsp;{{ programme.location }}</p>
                    <a href="{{ url_for('trainingregistration') }}" class="themed">Register now</a>
                    </div>
                </article>
              {% endfor %}
            {% endif %}

            <div class="col-xs-12">
                <a href="{{ url_for('training') }}" class="btn btn-default themed">More Programmes</a>
            </div>
        </div>
    </div>

    <!-- International Upcoming -->
    <div class="col-sm-6 col-md-4">
        <h4 class="col-headers-default">Upcoming International Programmes</h4>
        <div class="row">
            <article class="col-xs-6 col-sm-12">
                <h5 class="themed"><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;Advanced Human Resource Management</h5>
                <div class="pad">
                    <p><strong>Intake:</strong>&nbsp;September, 2015</p>
                    <p><strong>Venue:</strong>&nbsp;Ontario Canada</p>
                    <p  class="themed twinAnchored">
                        <a href="humanResourceDataIntlligence.html" class="themed">Find out more details</a> | <a href="regInternationalProgrammes.html" class="themed">register now</a>
                    </p>
                </div>
            </article>

            <article class="col-xs-6 col-sm-12">
                <h5 class="themed"><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;Certificate in Occupational Health &amp; Safety</h5>
                <div class="pad">
                    <p><strong>Intake:</strong>&nbsp;September, 2015</p>
                    <p><strong>Venue:</strong>&nbsp;Ontario Canada</p>
                    <p  class="themed twinAnchored">
                        <a href="occupationalHealthAndSafety.html" class="themed">Find out more details</a> | <a href="regInternationalProgrammes.html" class="themed">register now</a>
                    </p>
                </div>
            </article>

            <article class="col-xs-6 col-sm-12">
                <h5 class="themed"><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;Advanced Management Programme</h5>
                <div class="pad">
                    <p><strong>Intake:</strong>&nbsp;June | July | October - 2015</p>
                    <p><strong>Venue:</strong>&nbsp;Ontario Canada</p>
                    <p  class="themed twinAnchored">
                        <a href="advancedManagementProgramme.html" class="themed">Find out more details</a> | <a href="regInternationalProgrammes.html" class="themed">register now</a>
                    </p>
                </div>
            </article>

            <article class="col-xs-6 col-sm-12 clump">
                <h5><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;<a href="internationalProgrammes.html" class="themed">Business Intelligence Development and Data Analytics</a></h5>
                <h5><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;<a href="forensicAccountingAndFraudDetection.html" class="themed">Forensic Accounting and Fraud Detection</a></h5>
                <h5><img src="{{ url_for('static', filename='img/bkg-link-arrow-red.jpg') }}" alt="arrow-right">
                &nbsp;&nbsp;&nbsp;<a href="internationalProgrammes.html" class="themed">Leading Transformation for the Public Sector</a></h5>
            </article>

            <div class="col-xs-12">
                <a href="internationalProgrammes.html" class="btn btn-default themed">More Programmes</a>
            </div>
        </div>
    </div>

    <!-- Youtube Video -->
    <div class="col-sm-12 col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/UXrPjyPkjw4?rel=0?wmode=transparent"></iframe>
        </div>
    </div>
</div>

<footer class="row">
    <div class="col-sm-12 col-md-5 col-lg-6 text-center">
        <strong>Follow us</strong>&nbsp;&nbsp;&nbsp;
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.plus.google.com" target="_blank"><i class="fa fa-google-plus-square"></i> Google+</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-sm-12 col-md-7 col-lg-6 text-center">
        <a href="http://www.gameyandgamey.com/new/" target="_blank"><img src="{{ url_for('static', filename='img/ggam_logo.png') }}" alt="gamey_&_gamey-logo" class="img-responsive"></a>
        <p><strong><em>In Partnership with</em></strong></p>
        <a href="http://www.deweycollege.ca" target="_blank"><img src="{{ url_for('static', filename='img/dewey_logo.png') }}" alt="dewey-logo" class="img-responsive"></a>
    </div>
</footer>
    </div>

<div class="container-fluid footnote">
    <div class="row">
        <p class="col-xs-7 text-right">
            Institute of Executive Studies &copy; <span id="date"></span>
            <script>
                var today = new Date();
                document.getElementById('date').innerHTML = today.getFullYear();
            </script>
        </p>
        <p class="col-xs-5 text-left">
            <a href="privacyPolicy.html">Privacy Policy</a>
        </p>
        <p class="col-xs-12 text-center"><a href="http://www.leafecodes.com" class="themed" target="_blank">Developed by LEAFECODES.COM</a></p>
    </div>
</div>
</body>
</html>